#total{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(153, 65, 6)
    
}

#chegada{
    position: absolute;
    top: 540px;
    left: 780px;
    width: 500px;
    height: 170px;
    background-image: url(../images/chegada.png);
    background-size: 100%;
}



#linha1{
    position: absolute;
    top: 100px;
    left: 200px;
    width: 10px;
    height: 300px;
    background-color: black;
}

#linha2{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 10px;
    height: 200px;
    background-color: black;
}

#linha3{
    
    
    width: 400px;
    height: 10px;
    background-color: black;

    margin-top: 400px;
    margin-left: 200px;
}

#linha4{
    
    
    width: 400px;
    height: 10px;
    background-color: black;

    margin-top: -120px;
    margin-left: 400px;
}

#linha5{
    position: absolute;
    top: 400px;
    left: 600px;
    width: 10px;
    height: 300px;
    background-color: black;

}

#linha6{
    position: absolute;
    top: 290px;
    left: 800px;
    width: 10px;
    height: 250px;
    background-color: black;
}

#linha7{
    width: 400px;
    height: 10px;
    background-color: black;

    margin-top: 400px;
    margin-left: 600px;
}

#linha8{
    width: 200px;
    height: 10px;
    background-color: black;

    margin-top: -170px;
    margin-left: 800px;
}

#coelho{
    position: absolute;
    top:100px;
    left: 250px;
    width: 80px;
    height: 80px;
    background-image: url(../images/coelho.gif) ;
    background-size: 100%;
    background-repeat: no-repeat;

    z-index: 50;

   
}

@keyframes animacoelho{
    0%{

    }

    25%{
    position: absolute;
    top: 305px;
    left: 250px;
   
    }

    50%{
    position: absolute;
    top:305px;
    left: 650px;
  
    }

    75%{
        position: absolute;
        top:600px;
        left: 650px;
        
    }

    100%{
        position: absolute;
        top:600px;
        left: 900px;
        
    }
}

#coelho:hover{
    animation: animacoelho forwards;
    animation-duration: 15s;
}

.moedas{
    position: absolute;
    top: 200px;
    left: 250px;
    width: 70px;
    height: 70px;
    
    background-image: url(../images/moeda.gif);
    background-size: 100%;
    background-repeat: no-repeat;

    z-index: 1;

}

#moeda1{
    animation: animamoeda1 forwards;
    animation-duration: 1s;
    animation-delay: 1.5s;
 
}

#moeda2{
    top: 320px;
    left: 250px;

    animation: animamoeda2 forwards;
    animation-duration: 1s;
    animation-delay: 2.5s;
}

#moeda3{
    top: 320px;
    left: 400px;

    animation: animamoeda2 forwards;
    animation-duration: 1s;
    animation-delay: 5s;
}

#moeda4{
    top: 320px;
    left: 550px;

    animation: animamoeda2 forwards;
    animation-duration: 1s;
    animation-delay: 6s;
}

#moeda5{
    top: 320px;
    left: 650px;

    animation: animamoeda2 forwards;
    animation-duration: 1s;
    animation-delay: 6.7s;
}

#moeda6{
    top: 450px;
    left: 650px;

    animation: animamoeda2 forwards;
    animation-duration: 1s;
    animation-delay: 9s;
}

#moeda7{
    top: 600px;
    left: 650px;

    animation: animamoeda2 forwards;
    animation-duration: 1s;
    animation-delay: 10s;
}

#moeda8{
    top: 600px;
    left: 800px;
    

    animation: animamoeda2 forwards;
    animation-duration: 1s;
    animation-delay: 13s;
}

@keyframes animamoeda1{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}

@keyframes animamoeda2{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}

@keyframes animamoeda3{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}

@keyframes animamoeda4{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}

@keyframes animamoeda5{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}

@keyframes animamoeda6{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}

@keyframes animamoeda7{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}

@keyframes animamoeda8{
    0%{

    }

    100%{
        width: 0px;
        height: 0px;
        opacity: 0;

    }
}